@media(min-width: 1200px) and (max-width: 1600px){
	.Header_part ul li {
    padding: 0px 15px;
}
.box {
    width: 95%;
}
.Header_part ul{
	padding: 0px;
}
.VidBannr h2 {
    font-size: 43px;
}

.Video_banner {
    height: 550px;        
}
.VidBannr{
	left: 6%;
    padding: 3px 58px;
}
.SecondBx:after {
    height: 450px;
}
.bannertxt {
    transform: translateY(-48%);
}
.bacclr {
    height: 390px;
}

}

@media(min-width: 320px) and (max-width: 767px){
.img_docban {
    width: 100%;
}
.Header_part {
    display: none;
}
.VidBannr {
    position: unset;
    transform: unset;
    width: 100%;
    padding: 40px 20px;
        background-color: #0467b5;
}
.SecondBx:after {
    display: none;
}
.mart50 {
    margin-top: 0px;
}
.Video_banner {
    height: 100%;
}
.VidBannr h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
.pad75 {
    padding: 40px 0px;
}


}